@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'normalize';

body {
  font-family: "calluna";
  font-size: 16px
}

h1, h2, h3 {
  font-family: "myriad-pro";
}

h1 {
  // font-size: 26px;
}

#hello {
  @include span-columns(8);
  @include shift(2);
}
