@import 'bourbon/bourbon';
@import 'neat/neat';
@import 'normalize';

$big: new-breakpoint(min-width 1024px 12);

body {
  font-family: "calluna";
  font-size: 16px
}

h1, h2, h3 {
  font-family: "myriad-pro";
}

h1 {
  // font-size: 26px;
}

ul {
  padding: 0;
}

.line {
  fill: none;
  stroke-width: 3px;
}

#surround {
  @include outer-container;
}

#hello {
  @include shift(1);
  @include media($big) {
    @include shift(2);
  }
  padding-top: 20px;
  .active {
    color: red;
  }
}
